Flask_SQLAlchemy==2.3.2
Flask_WTF==0.14.2
Flask_DebugToolbar==0.10.1
passlib==1.7.1
Click==7.0
Flask==1.0.2
pytest==3.6.1
Flask_Login==0.4.1
WTForms==2.2.1
SQLAlchemy==1.2.12
requests==2.20.0
Werkzeug==0.14.1
qrcode==6.0
pytest_flask==0.13.0
Flask_OAuthlib==0.9.5
pycrypto==2.6.1
coverage==4.5.1
argon2==0.1.10
argon2-cffi==18.3.0
mysql-connector-python-rf==2.2.2
numpy==1.15.4
scikit-learn==0.20.0
pandas==0.23.4
pickle==4.0