{% extends 'canteen_owner/parent_template.html' %}
<title > {% block title %} Analysis {% endblock %} </title>

{% block content %}
		<!-- MAIN -->
	<div class="main">
		<!-- MAIN CONTENT -->
		<div class="main-content" ng-app="rapp">
			<div class="container-fluid" ng-controller="ctrl">
				<h3 class="page-title">Analysis</h3>
				<div class="row">
					<div class="col-md-6">
				
				
					<div class="panel">
						<div class="panel-heading">
							<h3 class="panel-title">Get popular items</h3>
						</div>
						<div class="panel-body" >
							<!--Form-->
					 	<form  >
							  <select class="form-control" required="true" ng-model="user.Gender">
							    <option value="Male">Male</option>
							    <option value="Female">Female</option>
							  </select>
							  <br/>
							  <select class="form-control" required="true" ng-model="user.Semester">
								    <option value="I">I</option>
								    <option value="II">II</option>
								    <option value="III">III</option>
								    <option value="IV">IV</option>
								    <option value="V">V</option>
								    <option value="VI">VI</option>
								    <option value="VII">VII</option>
								    <option value="VIII">VIII</option>
							  </select>
							  <br/>
							  <select class="form-control" required="true" ng-model="user.Department">
								    <option value="CSE">CSE</option>
								    <option value="ECE">ECE</option>
								    <option value="EEE">EEE</option>
								    <option value="MECH">MECH</option>
								    <option value="CIVIL">CIVIL</option>
								    <option value="BT">BT</option>
							  </select>
							  <br/>
							  <input type="button" name="Submit" class="btn btn-primary" value="Submit" ng-click="send_req()">
							  
						 </form>
						 <!--Form-->
						</div>
					</div>
					 
				</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="panel">
							<div class="panel-heading">
								<h3 class="panel-title">Semester Chart</h3>
							</div>
							<div class="panel-body">
								<div id="semester-bar-chart" class="ct-chart"></div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel">
							<div class="panel-heading">
								<h3 class="panel-title">Gender Chart</h3>
							</div>
							<div class="panel-body">
								<div id="gender-bar-chart" class="ct-chart"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="panel">
							<div class="panel-heading">
								<h3 class="panel-title">Department Chart</h3>
							</div>
							<div class="panel-body">
								<div id="dept-bar-chart" class="ct-chart"></div>
							</div>
						</div>
					</div>

				</div>
				<div class="row">
					<!--item-->
						<div class="col-md-4" ng-repeat="item in items">
						<div class="panel" >
								<div class="panel-heading">
									<h3 class="panel-title" >{a item.Items_name a}</h3>
									<img src="{{url_for('static', filename='canteen-owner/img/default_food.jpg')}}" class="img-fluid img-responsive img-thumbnail">
								</div>
								<div class="panel-body">
									<p style="height: 25px;overflow-y: scroll;">{a item.Description a}</p>
									<p><span class="icon"><i class="fa fa-inr"></i></span>{a item.Price a}</p>
								</div>
						</div>
						</div>
					
				</div>
			</div>
		</div>
		<!-- END MAIN CONTENT -->
	</div>
		<!-- END MAIN -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>	
	<script>
	$(function() {
		var options;
		// bar chart
		options = {
			height: "300px",
			axisX: {
				showGrid: false
			},
		};

		labels = []; series = [];
		{% for d in gender_data %}
			// alert({{d.Gender}})
			labels.push('{{ d.Gender}}');
			series.push({{ d.count}});
		{% endfor %}
		var gender_data = {
			labels,
			series: [
				series,
			]
		};

		labels = []; series = [];
		{% for d in sem_data %}
			// alert({{d.Gender}})
			labels.push('{{ d.Semester}}');
			series.push({{ d.count}});
		{% endfor %}
		var semester_data = {
			labels,
			series: [
				series,
			]
		};

		labels = []; series = [];
		{% for d in dept_data %}
			// alert({{d.Gender}})
			labels.push('{{ d.Department}}');
			series.push({{ d.count}});
		{% endfor %}
		var dept_data = {
			labels,
			series: [
				series,
			]
		};
		new Chartist.Bar('#gender-bar-chart', gender_data, options);
		new Chartist.Bar('#semester-bar-chart', semester_data, options);
		new Chartist.Bar('#dept-bar-chart', dept_data, options);
	});

	items = []
	var app = angular.module("rapp",[]);
	app.config(['$interpolateProvider',function($interpolateProvider)
		{
			$interpolateProvider.startSymbol('{a');
			$interpolateProvider.endSymbol('a}');
		}]);

	app.controller("ctrl",['$scope','$http',function($scope,$http)
	{
		
		$scope.items = [];
		$scope.send_req = function()
		{
			console.log(this.user);

			$http.post("{{url_for('.get_user_recommendation')}}",$scope.user).then(
				function success(data)
				{
					$scope.items = data['data'];
				},
				function (err) {
					console.log(err);
				});
		}
		
	}]);
	</script>
{% endblock %}
