{% extends 'customer/parent_template.html' %}
<title > {% block title %} Items {% endblock %} </title>

{% block content %}
		<!-- MAIN -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>	
		<div class="main" ng-app="fosapp">
			
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid"> 
					<h3 class="page-title">Select items </h3>
					<div class="row"  ng-controller="fosctrl as ctrl">
						
						<!--item-->
						<div class="col-md-3" ng-repeat="(itemnumber,item) in ctrl.items">
						<div class="panel" >
								<div class="panel-heading">
									<h3 class="panel-title" >{a item.Items_name a}</h3>
									<img src="{{url_for('static', filename='canteen-owner/img/default_food.jpg')}}" class="img-fluid img-responsive img-thumbnail">
								</div>
								<div class="panel-body" >
									<p class='description'>{a item.Description a}</p>
									<p class='price'><span class="icon"><i class="fa fa-inr"></i></span>{a item.Price a}</p>
									<button class="btn btn-default btn-block" ng-click="ctrl.addTocart(itemnumber)" ng-disabled="item.disabled">Add to cart</button>
								</div>
						</div>
						</div>
						<!--item end-->


						<!--your orders-->
						<div class="col-md-3" style="float:right;" >
						<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Your orders</h3>
								</div>
								<div class="panel-body cart" ng-repeat="(itemnumber, item) in ctrl.cart" >
									<p> {a item.Items_name a}</p> 
									<div class="btn-group" style="display:inline-block">
									  	<button class="btn btn-secondary" 
									  			ng-click="item.count > 1 ? item.count=item.count-1:nothing ; ctrl.total() ">-</button> 
									  	<button class="btn btn-secondary" >
									  		{a item.count a}
									  	</button> 
									 	<button class="btn btn-secondary" 
									 			ng-click="item.count < item.Max ?  item.count=item.count+1:nothing;ctrl.total()">+</button> 
								 	</div>
								 	<p> 
								 		<span class="icon">
								 		<i class="fa fa-inr"></i>
								 		</span> {a item.Price * item.count a} 
								 	</p>
								 	<button type="button" 
								 			class="btn btn-danger" 
								 			ng-click="ctrl.removeFromcart(itemnumber)">
								 			<i class="lnr lnr-trash"></i>
								 	</button>
								 	<hr>
								</div>

								<div class="panel-footer" >
									<h2>Total price : {a ctrl.carttotal a}</h2>
								</div>
						</div>
						</div>
						<!--your orders end here -->
					</div>
					<button type="checkbox" class="btn btn-success placeorder" style="float:right;"><i class="fa fa-check-circle"></i> Place order </button>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
			<script type="text/javascript">
				
				console.log("Data from flask",'{{data|tojson|safe}}' );


				var app=angular.module('fosapp',[]);
				app.config(['$interpolateProvider',function($interpolateProvider)
				{
					$interpolateProvider.startSymbol('{a');
					$interpolateProvider.endSymbol('a}');
				}]);

				app.controller('fosctrl',['$http',function($http)
				{
					
					
					<!-- this.items = { -->
						<!-- item1 :  -->
						<!-- { -->
							<!-- itemname:'Samosa', -->
							<!-- itemdescription:'A hot and tasty potato samosa', -->
							<!-- price:20, -->
							<!-- max: 20 -->
						<!-- }, -->
						<!-- item2 :  -->
						<!-- { -->
							<!-- itemname:'Sandwich', -->
							<!-- itemdescription:'A hot and crispy onion and capsicum sandwich', -->
							<!-- price:20, -->
							<!-- max:5 -->
						<!-- } -->
					<!-- }; -->
					
					this.items = {{data|tojson|safe}};

					console.log(this.items);
					this.cart = {};
					this.carttotal = 0;
					this.addTocart  = function(itemindex)
					{
						//to remove
						console.log("Add to cart",this.items[itemindex]);
						
						//disable add button
						var item = this.items[itemindex];
						item.disabled = true;

						//Add item to cart
						this.cart[itemindex] = item;

						//Since added to cart initial items is 1
						this.cart[itemindex].count = 1; 

						//find total price initiallly
						this.total();

					}

					this.removeFromcart = function(itemindex)
					{
						
						//enable add button
						var item = this.items[itemindex];
						item.disabled = false;

						//Since added to cart initial items is 1
						this.cart[itemindex].count = 0;

						//delete item from cart
						delete this.cart[itemindex];

						//find total price after removing
						this.total();
					}

					this.total=function()
					{
						//this.carttotal = 0;
						//console.log(this.carttotal);
						var total =0;
						angular.forEach(this.cart, function(value,key)
						{
							
							total  += value.Price * value.count ;
							//console.log(value.price,value.count,total);
							
						});
						this.carttotal=total;
						//console.log("Cart total",this.cart,this.carttotal);
					}

				}]);
				
			</script>
			
		</div>
		<!--END MAIN -->
{% endblock %}