{% extends 'customer/parent_template.html' %}
<title > {% block title %} Recommendation {% endblock %} </title>

{% block content %}
		<!-- MAIN -->
		
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">

				<div class="container-fluid"> <h3 class="page-title">Recommended items</h3>
					<div class="row" >
					<!--item-->
					{% for item in data %}
						<div class="col-md-4">
						<div class="panel" >
								<div class="panel-heading">
									<h3 class="panel-title" >{{ item.Items_name }}</h3>
									<img src="{{url_for('static', filename='canteen-owner/img/default_food.jpg')}}" class="img-fluid img-responsive img-thumbnail">
								</div>
								<div class="panel-body">
									<p style="height: 25px;overflow-y: scroll;">{{ item.Description }}</p>
									<p><span class="icon"><i class="fa fa-inr"></i></span>{{ item.Price }}</p>
								</div>
						</div>
						</div>
					
					{% endfor %}
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!--END MAIN -->
{% endblock %}