<meta charset="utf-8">
<!DOCTYPE HTML>
<html>
    <head>
        <title>Sign Up</title>
        <link href="css/login.css" rel="stylesheet" type="text/css" media="all">
        <link href="css/signup.css" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>
        <div class="signup-page-main">
            <div class="signup-main">  	
                <div class="signup-head">
                    <h1>Sign Up</h1>
                </div>
                   <div class="signup-block">
                       <form>
                           <input type="text" name="email" placeholder="Name" required="">
                           <input type="text" name="email" placeholder="Email" required="">
                           <input type="password" name="password" class="lock" placeholder="Password">
                           <div class="forgot-top-grids">
                               <div class="forgot-grid">
                                   <ul>
                                       <li>
                                           <input type="checkbox" id="brand1" value="">
                                           <label for="brand1"><span></span>I agree to the terms</label>
                                       </li>
                                   </ul>
                               </div>
                               <div class="clearfix"> </div>
                           </div>
                           <input type="submit" name="Sign In" value="Sign up">														
                       </form>
                       <div class="sign-down">
                       <h4>Already have an account? <a href="login.html"> Login here.</a></h4>
                       </div>
                   </div>
           </div>
       </div>
    </body>
</html>