<!doctype html>
<html lang="en">

<!--COMMON IN ALL-->
<head>
		<title>Dashboard | InstaFood </title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<!-- VENDOR CSS -->
		<link rel="stylesheet" href="{{url_for('static', filename='canteen-owner/vendor/bootstrap/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='canteen-owner/vendor/font-awesome/css/font-awesome.min.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='canteen-owner/vendor/linearicons/style.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='canteen-owner/vendor/chartist/css/chartist-custom.css')}}">
		<!-- MAIN CSS -->
		<link rel="stylesheet" href="{{url_for('static', filename='canteen-owner/css/main.css')}}">
		<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
		<link rel="stylesheet" href="{{url_for('static', filename='canteen-owner/css/demo.css')}}">
		<!-- GOOGLE FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
		<!-- ICONS -->
		<link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='canteen-owner/img/apple-icon.png')}}">
		<link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static', filename='canteen-owner/img/favicon.png')}}">
	</head>
	
	<body>
		<!-- WRAPPER -->
		<div id="wrapper">
			<!-- NAVBAR -->
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="brand">
					<a href="index.html"><img src="{{url_for('static', filename='canteen-owner/img/instalogo.jpg')}}" style="width:139px;height:21px;"alt="Klorofil Logo" class="img-responsive logo"></a>
				</div>
				<div class="container-fluid">
					<div class="navbar-btn">
						<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
					</div>
					<form class="navbar-form navbar-left">
						<div class="input-group">
							<input type="text" value="" class="form-control" placeholder="Search dashboard...">
							<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
						</div>
					</form>
					<!--div class="navbar-btn navbar-btn-right">
						<a class="btn btn-success update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
					</div-->
					<div id="navbar-menu">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
									<i class="lnr lnr-alarm"></i>
									<span class="badge bg-danger">5</span>
								</a>
								<ul class="dropdown-menu notifications">
									<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
									<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
									<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
									<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
									<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
									<li><a href="#" class="more">See all notifications</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
								<ul class="dropdown-menu">
									<li><a href="#">Basic Use</a></li>
									<li><a href="#">Working With Data</a></li>
									<li><a href="#">Security</a></li>
									<li><a href="#">Troubleshooting</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{url_for('static', filename='canteen-owner/img/user.png')}}" class="img-square" alt="Canteen"> <span>Canteen XYZ</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
								<ul class="dropdown-menu">
									<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
									<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
									<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
									<li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
								</ul>
							</li>
							<!-- <li>
								<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
							</li> -->
						</ul>
					</div>
				</div>
			</nav>
			<!-- END NAVBAR -->
			<!-- LEFT SIDEBAR -->
			<div id="sidebar-nav" class="sidebar">
				<div class="sidebar-scroll">
					<nav>
						<ul class="nav">
							<li><a href="index.html" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
							<li><a href="elements.html" class=""><i class="lnr lnr-list"></i> <span>Today's Menu</span></a></li>
							<li><a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>Charts</span></a></li>
							<li><a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>
							<li><a href="notifications.html" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>
							<li>
								<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Pages</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
								<div id="subPages" class="collapse ">
									<ul class="nav">
										<li><a href="page-profile.html" class="">Profile</a></li>
										<li><a href="page-login.html" class="">Login</a></li>
										<li><a href="page-lockscreen.html" class="">Lockscreen</a></li>
									</ul>
								</div>
							</li>
							<li><a href="tables.html" class=""><i class="lnr lnr-store"></i> <span>Add Canteens</span></a></li>
							<li><a href="typography.html" class=""><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>
							<li><a href="icons.html" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- END LEFT SIDEBAR -->
			<!--END COMMON IN ALL-->
	
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid"> <h3 class="page-title">Menu</h3>
					<div class="row">
						<!--MENU FOR THE DAY-->
						<div class="col-md-14" >
						<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Menu for the day</h3>
								</div>
								<div class="panel-body">
									<table class="table" >
										<thead>
											<tr>
												<th>Item Name</th>
												<th>Quantity</th>
												<th>Price</th>
												<th>Description</th>
												<th>Delete</th>
											</tr>
										</thead>
										<tbody>
											<!-- <tr>
												<td><input type="text" class="form-control" placeholder="Item Name"></td>
												<td><input type="number" class="form-control" placeholder="0"></td>
												<td><input type="number" class="form-control" placeholder="0"></td>
												<td><textarea class="form-control" placeholder="Item Description" rows="1"></textarea></td>
												<td>
														<button id="delete" type="button" class="btn btn-danger"><i class="lnr lnr-trash"></i></button>
												</td>
											</tr>
											 -->
											{% for d in data %}
											<tr>
												<td><input type="text" class="form-control" placeholder="Item Name" value={{d.Items_name}}></td>
												<td><input type="number" class="form-control" placeholder="0" value={{d.Items_id}}></td>
												<td><input type="number" class="form-control" placeholder="0" value={{d.Price}}></td>
												<td><textarea class="form-control" placeholder="Item Description" rows="1">{{d.Description}}</textarea></td>
												<td>
														<!--button id="edit" type="button" class="btn btn-warning"><i class="lnr lnr-pencil"></i></button-->
														<button id="delete" type="button" class="btn btn-danger"><i class="lnr lnr-trash"></i></button>
														<!--button id="save" type="button" class="btn btn-success"><i class="fa fa-check-circle"></i></button-->
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!--END MENU FOR THE DAY-->
						<div class="col-md-14">
								<button type="button"  class="btn btn-default AddItem"><i class="fa fa-plus-square"></i> Add Item </button>
								<button type="button"  class="btn btn-success SaveList" style="float:right;"><i class="fa fa-check-circle"></i> Save List </button>
						</div>
					</div>
					
					
					
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<div class="container-fluid">
				<p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="{{url_for('static', filename='canteen-owner/vendor/jquery/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='canteen-owner/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static', filename='canteen-owner/vendor/jquery-slimscroll/jquery.slimscroll.min.js')}}"></script>
	<script src="{{url_for('static', filename='canteen-owner/scripts/klorofil-common.js')}}"></script>
	<script src="{{url_for('static', filename='canteen-owner/scripts/dynamicElem.js')}}"></script>
</body>

</html>