<!doctype html>
<html lang="en">
	<body>
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid"> <h3 class="page-title">Menu</h3>
					<div class="row">
						<!--MENU FOR THE DAY-->
						<div class="col-md-14" >
						<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Menu for the day</h3>
								</div>
								<div class="panel-body">
									<table class="table" >
										<thead>
											<tr>
												<th>Item Name</th>
												<th>Quantity</th>
												<th>Price</th>
												<th>Description</th>
												<th>Delete</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><input type="text" class="form-control" placeholder="Item Name"></td>
												<td><input type="number" class="form-control" placeholder="0"></td>
												<td><input type="number" class="form-control" placeholder="0"></td>
												<td><textarea class="form-control" placeholder="Item Description" rows="1"></textarea></td>
												<td>
														<!--button id="edit" type="button" class="btn btn-warning"><i class="lnr lnr-pencil"></i></button-->
														<button id="delete" type="button" class="btn btn-danger"><i class="lnr lnr-trash"></i></button>
														<!--button id="save" type="button" class="btn btn-success"><i class="fa fa-check-circle"></i></button-->
												</td>
											</tr>
											
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!--END MENU FOR THE DAY-->
						<div class="col-md-14">
								<button type="button"  class="btn btn-default AddItem"><i class="fa fa-plus-square"></i> Add Item </button>
								<button type="button"  class="btn btn-success SaveList" style="float:right;"><i class="fa fa-check-circle"></i> Save List </button>
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		
		<!-- END MAIN -->
		<script>
			var url = ["{{url_for('static', filename='canteen-owner/scripts/dynamicElem.js')}}",
						"{{url_for('static', filename='canteen-owner/vendor/bootstrap/js/bootstrap.min.js')}}",
						"{{url_for('static', filename='canteen-owner/scripts/klorofil-common.js')}}",
						"{{url_for('static', filename='canteen-owner/vendor/jquery/jquery.min.js')}}"];
			
			for (var i=0;i< url.length;i++)
			{
						$.getScript(url[i]);
			}
		</script>
		
</body>
</html>
