{% extends 'canteen_owner/parent_template.html' %}
<title > {% block title %} Canteens {% endblock %} </title>

{% block content %}
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid"> <h3 class="page-title">Canteens</h3>
					<div class="row">
						<!--MENU FOR THE DAY-->
						<div class="col-md-14" >
						<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Canteen Details</h3>
								</div>
								<div class="panel-body table-responsive">
									<table class="table">
											<style type="text/css"> 
											input[type="text"],
											input[type="number"]
											{
												border: none;
												background-color: transparent;
												box-shadow: none;
											}
											
										</style>
										<thead>
											<tr>
												<th>Canteen ID</th>
												<th>Canteen Owner</th>
												<th>Canteen Name</th>
												<th>Description</th>
												<th>Delete</th>
											</tr>
										</thead>
										<tbody>
											<!-- <tr>
												<td><input type="text" class="form-control" placeholder="Name"></td>
												<td><input type="text" class="form-control" placeholder="XYZ"></td>
												<td><input type="text" class="form-control" placeholder="ABC"></td>
												<td><input type="text" class="form-control" placeholder="Ex:Juice center"></td>
											 -->	<!-- <td> -->
														<!--button id="edit" type="button" class="btn btn-warning"><i class="lnr lnr-pencil"></i></button-->
														<!-- <button id="delete" type="button" class="btn btn-danger"><i class="lnr lnr-trash"></i></button> -->
														<!--button id="save" type="button" class="btn btn-success"><i class="fa fa-check-circle"></i></button-->
												<!-- </td>
											</tr> -->
											{% for d in data %}
											<tr>
												<td><input type="text" class="form-control" placeholder="Name" value={{d.Canteen_id}}></td>
												<td><input type="text" class="form-control" placeholder="XYZ" value="{{d.Owner_name}}"></td>
												<td><input type="text" class="form-control" placeholder="ABC" value={{d.Canteen_name}}></td>
												<td><input type="text" class="form-control" placeholder="Ex:Juice center"></td>
												<td>
															<button type="button" class="btn btn-danger delete"><i class="lnr lnr-trash"></i></button>
															
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!--END MENU FOR THE DAY-->
						<div class="col-md-14">
								<button type="button"  class="btn btn-default AddCanteen"><i class="fa fa-plus-square"></i> Add Canteen </button>
								<button type="button" class="btn btn-success SaveList" style="float:right;"><i class="fa fa-check-circle"></i> Save List </button>
						</div>
					</div>
					
					
					
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!--END MAIN -->
{% endblock %}